## Variables

Variable is a name attached to a particular object.<br>

Examples:
"teacher" is a variable which can be attached to the name of your teachers. <br>
teacher = "Anna"<br>

"subject" is a variable that be attached to "maths", "science", "art" etc <br>

"pizza_slice_count" is a variable attached to the number of slices of pizza<br>


Let's assign some variables

In [2]:
teacher = "Anna"
print("my favourite teacher is ", teacher)

my favourite teacher is  Anna

In [3]:
subject = "computer science"
print("my favourite subject is ", subject)

my favourite subject is  computer science

In [5]:
pizza_slice_count = 3
print("I ate ", pizza_slice_count, " pizzas last weekend")

I ate  3  pizzas last weekend

In [8]:
pizza_slice_count = 3
print("I ate ", pizza_slice_count, " pizzas last weekend")

# you can reassign the variable to a different number
pizza_slice_count = 2
print("I will eat ", pizza_slice_count, " pizzas last weekend")

I ate  3  pizzas last weekend
I will eat  2  pizzas last weekend

## Data Types

You can have different datatypes in your program. Some of the main datatypes are 
* Numbers
* Strings
* List
* Dictionary

In [20]:
# natural numbers
10

10

In [19]:
# decimals - also known as floating point numbers
1.2

1.2

In [10]:
# strings - any text within a single or a double quotes is a string
"Anna", "Maths", "Computer Science"

('Anna', 'Maths', 'Computer Science')

In [15]:
# List - For e.g: list of states in United states
["California", "Washington", "Texas", "Arizona", "Utah"]q

['California', 'Washington', 'Texas', 'Arizona', 'Utah']

In [16]:
# For e.g: list of numbers < 10
[ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# Dictionary - For e.g : map of sports to players
{
    "Tennis" : "Serena Villiams",
    "Football" : "Peyton Manning",
    "Basketball" : "Steph Curry"
}

{'Tennis': 'Serena Villiams',
 'Football': 'Peyton Manning',
 'Basketball': 'Steph Curry'}

In [23]:
# You can find the type of the data using the type command
type(10), type("abc"), type([1,2,3]), type({"a" : 1})

(int, str, list, dict)